*,
*::after,
*::before {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

main,
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  text-transform: inherit;
  display: block;
}

button {
  cursor: pointer;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
